* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 75px;
    display: flex;
    background: #F55A5A;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
}

.nav--text {
    font-family: 'Lobster', cursive;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;


}

.travel {
    position: relative;
    width: 500px;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 50px;
}

.travel--photo {
    position: relative;
    width: 125px;
    height: 168px;
    background: url(.jpg);
    border-radius: 5px;
}

.travel--header--geo {
    position: absolute;
    width: 10px;
    display: flex;
    left: 150px;
    top: 20px;
}

.travel--header--location {
    position: absolute;
    width: 40px;
    height: 10px;
    padding-left: 10px;
    top: 20px;
    left: 154px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;

    color: #2B283A;
}

.travel--header--gmaps {
    /* View on Google Maps */
    position: absolute;
    width: 106px;
    height: 13px;
    left: 300px;
    top: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #918E9B;
}

.travel--header--gmaps > a:visited {
    text-decoration-line: underline;
    color: #918E9B;
  }

.travel--title {
    position: absolute;
    width: 400px;
    height: 40px;
    left: 150px;
    top: 40px;

    font-family: Inter;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}

.travel--tag {
    position: absolute;
    width: 319px;
    height: 13px;
    left: 150px;
    top: 80px;
    padding-top: 7px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;

    color: #2B283A;
}

.travel--description {
    position: absolute;
    width: 319px;
    height: 11px;
    left: 150px;
    top: 100px;
    padding-top: 9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    /* or 15px */


    color: #2B283A;
}