.nav {
    padding-top: 5px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items > li {
    padding: 20px;
    text-decoration: underline;
    align-items: center;
}

html, body {
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    width: 80px;
    align-items: center;
    display: flex;

}
