<div>
  App Component
<div class="container">
  <div class="todo-list">
    <div class="input-group">
      <input type="text" placeholder="Todo">
      <button class="add-button">+</button>
    </div>
    <table>
      <tr *ngFor="let task of tasks" class="even">
        <td>
          <pre>
            {{task}}
          </pre>
        </td>
        <td>
          <button class="remove-button">X</button>
          <button class="done-button">Done</button>
        </td>
      </tr>
    </table>
  </div>
</div>